
.panelContent input.text{
	padding-left:15px;
	padding-top:8px;
	padding-bottom:6px;
	width:100%;
	text-align:left;
	height:24px;
	border:1px solid #cbcdcf !important;
	background:url(ohanah_images/input_bg_inset.png) top center repeat-x;
	font-size:13px;
	border-radius:2px;
	border-top: 1px solid #9DA2AD !important;
}

.part-right input.text {
	width: 225px !important;
}

.panelContent .dropdown.size1 select, .panelContent .dropdown.size2 select, .panelContent .dropdown.size5 select,.panelContent .dropdown.size3 select, .panelContent .dropdown.size4 select {
	text-align:left;
	height:38px;
	border:none !important;
	padding:9px 5px 5px 8px; 
	font-size:13px;
	vertical-align:middle;
	background: transparent;
	font-weight:bold;
	color: #455868;
}

.panelContent .dropdown.size1 select {
	width:316px;
}

.panelContent .dropdown.size5 select {
	width:400px;
}

.panelContent .dropdown.size2 select {
	width:182px;
}

.panelContent .dropdown.size3 select {
	width:105px;
}

.panelContent .dropdown.size4 select {
	width:143px;
}

input.size5{
	width:299px !important;
}
input.size6{
	width:645px !important;
}
input.size7{
	width:336px !important;
}

.dropdown.size1, .dropdown.size2, .dropdown.size3,  .dropdown.size4,  .dropdown.size5{
	border:1px solid #cbcdcf !important;
	display:block;
	height: 38px;
	overflow: hidden;
	background: url(ohanah_images/select_arrow.png) no-repeat right;
	border-radius:2px;
	box-shadow: 0 1px 1px rgba(155,122,18,0.1);
	
}

.dropdown.size1{
	width: 240px;
}

.dropdown.size5{
	width: 350px;
}

.dropdown.size2{
	width: 150px;
}

.dropdown.size3{
	width: 59px;
}

.dropdown.size4{
	width: 112px;
	
}

.panelContent .dropdownWrapper{
	background:url(ohanah_images/input_bg.png) bottom center repeat-x;
	float:right;
}

.panelContent .dropdownWrapper.left{
	margin-right:10px;
	float:left;
}


.small{
	font-size:11px;
	color:#8c99a4;
	padding-top: 5px;
}

div.small a{
	padding-left: 5px;
	color:#8c99a4;

}

.bordered{
	border: 1px solid #CCCCCC;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding:2px;
	box-shadow: 0 1px 0px rgba(204,204,204,0.5);
	border-bottom: 1px solid #C7C9C9;	
}

.fieldTitle{
	line-height:60px;
	font-size:13px;
	font-weight:bold;
	color:#8c99a4;
}

.fifty{
	width:50%;
	float:left;
}

.description{
	background:url(ohanah_images/input_bg_inset.png) top center repeat-x;
	width:89%;
	height:108px;
	padding:15px;
	font-size:13px !important;
	font-family:Arial;
	resize: none;
	border-radius: 2px;
}

.formDate, .formTime{
	width:31% !important;
	color:#8c99a4;
	margin-right:10px;
}

#recurrCount{
	color:#8c99a4;
}

.formDate2, .formTime2{
	width:27% !important;
}

.panelContent #eventPicture .button, .panelContent #eventPhotos .button, .panelFooter .button{
	border: 1px solid #CCCCCC;
	font-size:13px;
	font-weight:bold;
	color:#455868;
	background:url(ohanah_images/input_bg.png) bottom center repeat-x;
	height:40px;
	padding:0 10px 3px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(155,122,18,0.1);
}

input, textarea, select {
   -webkit-appearance: none;
}

input[type=checkbox], input[type=radio] {
	-webkit-box-shadow: 1px 1px 1px #fff;
   display: inline-block;
   font-size: 15px;
   line-height: 1em;
   
   width: 14px;
   height: 14px;
   vertical-align: text-top;
}

input[type=radio] {
    -webkit-border-radius: 2em; /* Make radios round */
}

input[type=radio]:checked {
   background: url("ohanah_images/selected.png") no-repeat center center;
}

input[type=checkbox] {
   background: url("ohanah_images/unchecked.png") no-repeat center center;
}

input[type=checkbox]:checked {
   background: url("ohanah_images/checked.png") no-repeat center center;
}

#minwidth-body #content-box .padding {
    padding: 0 0 0;
}
