/*
 * gallery preset: caption-overlay-small-thumbstrip
*/
.small-black .highslide-controls {
	width: 105px;
	height: 30px;
	background: none;
}
.small-black .highslide-controls ul {
	height: 30px;
	background: none;
}
.small-black .highslide-controls li {
	padding: 0;
}
.small-black .highslide-controls a {
	background-image: url(/plugins/content/highslide/graphics/controlbar-black-small.gif);
	height: 20px;
	width: 20px;
}
.small-black .highslide-controls .highslide-move {
	display: none;
}
.small-black .highslide-controls .highslide-previous a {
	background-position: 0 0;
}
.small-black .highslide-controls .highslide-previous a:hover {
	background-position: 0 -20px;
}
.small-black .highslide-controls .highslide-previous a.disabled {
	background-position: 0 -40px !important;
}
.small-black .highslide-controls .highslide-play a {
	background-position: -20px 0;
}
.small-black .highslide-controls .highslide-play a:hover {
	background-position: -20px -20px;
}
.small-black .highslide-controls .highslide-play a.disabled {
	background-position: -20px -40px !important;
}
.small-black .highslide-controls .highslide-pause a {
	background-position: -40px 0;
}
.small-black .highslide-controls .highslide-pause a:hover {
	background-position: -40px -20px;
}
.small-black .highslide-controls .highslide-next a {
	background-position: -60px 0;
}
.small-black .highslide-controls .highslide-next a:hover {
	background-position: -60px -20px;
}
.small-black .highslide-controls .highslide-next a.disabled {
	background-position: -60px -40px !important;
}
.small-black .highslide-controls .highslide-close a {
	background-position: -120px 0;
}
.small-black .highslide-controls .highslide-close a:hover {
	background-position: -120px -20px;
}
.small-black .highslide-controls .highslide-full-expand a {
	display: none;
}

/* hs.wrapperClassName = 'sspreset' */
.sspreset {
	background: #000;
}
.sspreset .highslide-image {
	border-color: black black #202020 black;
	background: gray;
}

.sspreset .highslide-caption {
	background: #000;
}

.sspreset-thumbstrip .highslide-thumbstrip-horizontal .highslide-marker {
	border-bottom-color: white !important;
}

.sspreset .highslide-number,
.sspreset .highslide-caption,
.sspreset .highslide-caption div {
	color: white;
}
.sspreset-thumbstrip .highslide-thumbstrip-horizontal .highslide-scroll-up,
.sspreset-thumbstrip .highslide-thumbstrip-horizontal .highslide-scroll-up div,
.sspreset-thumbstrip .highslide-thumbstrip-horizontal .highslide-scroll-down,
.sspreset-thumbstrip .highslide-thumbstrip-horizontal .highslide-scroll-down div {
	height: 27px;
}

.sspreset-thumbstrip .highslide-thumbstrip-horizontal img {
	height: 25px;
}

.sspreset-thumbstrip .highslide-thumbstrip-horizontal .highslide-marker {
	top: 32px;
}