/**
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
/* RokGallery - Grid 3 Col - Dark */
.rg-view-header {border-bottom: 1px solid #ccc;}
.rg-view-selector-list a {background-image: url(images/rg-view-tabs.png);}
.rg-sort-list li.active .indicator {background: url(images/rg-indicator.png) 50% 0 no-repeat;}
.rg-sort-list li.active .sort-arrow {background-image: url(images/rg-sort-arrows.png);}
.rg-view-selector-list .active {background: #303030;border-top: 1px solid #555;border-left: 1px solid #555;border-right: 1px solid #555;}
.rg-grid-view .rg-grid {color: #aaa;}
.rg-grid-view .rg-grid:hover {background-color: #393939;}
.rg-grid-view .rg-grid-thumb {box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -4px 0 rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -4px 0 rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);background-color: #333;background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));background-image:-o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));background-image:-ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(1, rgba(255, 255, 255, 0.1)));}
.rg-grid-view .tag {background: #484848;border: 1px solid #585858;color: #ccc;}
.rg-sort .desc, .rg-view-selector .desc, #rt-body-surround .rg-sort-list li a {color: #999;}
.rg-grid-view .gallery-data {color: #a7a7a7;}
.rg-grid-view .gallery-data .views-count, .rg-grid-view .gallery-data .loves-count, .rg-grid-view .gallery-data .comments-count, .rg-grid-view .gallery-data .tags-count {background-image: url(images/rg-icons.png);}
.rg-grid-view .gallery-data span:hover {color: #888;}
.rg-grid-view .gallery-data .loves-count.action-unlove, .rg-grid-view .gallery-data .loves-count.action-unlove:hover {color: #CD3E40;}