<div class="controlbar4">
	<a href="#" onclick="imf.handle(1);return hs.previous(this)" title="{hs.lang.previousTitle}" class="previous"></a>
	<a href="#" onclick="imf.handle(-1);return hs.next(this)" title="{hs.lang.nextTitle}" class="next"></a>
	<a href="#" onclick="return false" title="{hs.lang.moveTitle}" class="highslide-move"></a>
	<a href="#" onclick="return hs.close(this)" title="{hs.lang.closeTitle}" class="close"></a>
</div>