/**
 * @version   4.0.5 September 18, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
.rt-normal .rt-container, .rt-flipped .rt-container, .rt-left .rt-container, .rt-right .rt-container {margin-left: 0;width: 100%;}
body.rt-normal, body.rt-flipped, body.rt-left, body.rt-right {width: 100% !important;min-width: 100% !important;}


.rt-normal .rt-container .rt-grid-12, .rt-flipped .rt-container .rt-grid-12 {width: 100%;}
.rt-left .rt-container .rt-grid-12, .rt-right .rt-container .rt-grid-12 {width: 100%;}
.rt-grid-1, .rt-grid-2, .rt-grid-3, .rt-grid-4, .rt-grid-5, .rt-grid-6, .rt-grid-7, .rt-grid-8, .rt-grid-9, .rt-grid-10, .rt-grid-11, .rt-grid-12 {margin-left:0; margin-right: 0;}


body {font-size: 14px;line-height: 1.7em;font-family: Helvetica,Arial, Sans-Serif;}
body.font-size-is-xlarge {font-size: 17px;line-height: 1.7em;}
body.font-size-is-large {font-size: 16px;line-height: 1.7em;}
body.font-size-is-default {font-size: 14px;line-height: 1.7em;}
body.font-size-is-small {font-size: 13px;line-height: 1.7em;}
body.font-size-is-xsmall {font-size: 12px;line-height: 1.7em;}

body h1 {font-size: 180%;}
body h2 {font-size: 160%;}
body h3 {font-size: 140%;}
body h4 {font-size: 130%;}
body h5 {font-size: 120%;}
body h2.title {font-size: 150%;letter-spacing: -1px;line-height: 1em;}

body .rt-block {/*padding: 10px;*/}

body h1 {border-bottom: 1px solid #e9e9e9;padding-bottom: 5px;}
body .rt-articleinfo {color: #777;font-size: 85%;background: #f3f3f3;text-shadow: 1px solid #fff;-webkit-border-radius: 8px;padding: 0px 5px;}
body .rt-article-icons {margin-top: 3px;}

#rt-logo {width: 98px;height: 32px;display: block;margin:0 auto;}
#rt-logo {background: url(../images/iphone/branding.png) top left no-repeat;}

#rt-showcase .rt-container .rt-block {margin: 10px; background: #ddd;text-shadow: 1px 1px 1px #fff;-webkit-border-radius: 20px;-webkit-box-shadow: 0 0 5px #999;border:2px solid #fff;}

.scrollbar {position: absolute;z-index: 3;width: 1px;height: 1px;border-width: 3px;-webkit-border-image: url(../images/iphone/scrollbar.png) 3;}
.scrollbar.horizontal {bottom: 1px;left: 1px;}
.scrollbar.vertical {top: 1px;right: 1px;}

.gradient-preview {background: -webkit-gradient(linear, top left, bottom left, from(#ad7474), to(#783030));}

.switcher-block {float:right;padding:5px;}


/* Menu */
body #rt-menu .rt-container {background: transparent;height:auto;overflow:hidden;}
.rt-menu-container {overflow:hidden;}
#rt-menu-root {z-index:50;position:relative;}
#rt-menu ul.menu ul {display: none;position:absolute;z-index:5;top: 0; left: 0;background:white;}
#rt-menu , #rt-menu .rt-container {position:relative;z-index:10000;}
body.rt-normal #rt-menu .rt-container, body.rt-flipped #rt-menu .rt-container {width: 320px;}
body.rt-right #rt-menu .rt-container, body.rt-left #rt-menu .rt-container {width: 480px;}
#rt-menu ul.menu {height:100%;}
#rt-menu ul.menu li a:hover, #rt-menu ul.menu li.active a:hover {background: transparent !important;}
body #rt-menu {background: url(../images/iphone/menu-bg.png) repeat-x !important;height: auto;}
body #rt-menu ul.menu li a {color: #aaa;font-size: 0.9em;line-height:2.2em !important;padding: 0 10px;text-shadow: 1px 1px 1px #fff;}
body #rt-menu ul.menu li a:hover, body #rt-menu ul.menu li a:active {color: #999;}
body #rt-menu ul.menu li.active a, body #rt-menu ul.menu li.active a:hover {color: #333;background: none;}
#rt-left-menu, #rt-right-menu {background-image: url(../images/iphone/menu-scroller.png);background-repeat: no-repeat; width: 26px; height: 27px;position: absolute;z-index:2;}
#rt-left-menu {background-position: bottom left;left: 0;}
#rt-right-menu {background-position: top left;right:0;}

/* Dropdowns */
#idrops ul.menu ul li {display:block;float:none;}
#idrops {position: absolute;}
#idrops .idown {position: absolute;z-index:20;display:none;}
#idrops .idown.selected {display: block;}
body.rt-normal #idrops, body.rt-flipped #idrops, body.rt-normal #idrops .idown, body.rt-flipped #idrops .idown {width: 320px;}
body.rt-left #idrops, body.rt-right #idrops, body.rt-left #idrops .idown, body.rt-right #idrops .idown {width: 480px;}
#idrops ul, #rt-menu #idrops li {list-style: none;margin: 0; padding: 0;}
#idrops span.separator {font-size:1.2em;font-style:italic;color: #bbb;}
#idrops li, #idrops li.root-sub.active {font-weight:bold;background: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 77, 78, 0.95)), to(rgba(64, 65, 66, 1))) !important;text-overflow: ellipsis;text-shadow: #000 0px 1px 1px;border-top:1px solid rgba(51, 51, 51, 1);border-bottom:1px solid rgba(68, 68, 68, 1);}
#idrops li.active {background: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 65, 66, 1)), to(rgba(76, 77, 78, 0.95))) !important;border-bottom:1px solid rgba(76, 77, 78, 1);}
#idrops li a, #idrops li span.separator {padding: 8px;display:block;color: white;}
#idrops li.active a, #idrops li.ative span.separator {color: #222;text-shadow: 1px 1px 1px #666;}
.idown, .idown ul > li:first-child, #rt-menu .idown ul > li:first-child a {border-top: 0;}
.idown, .idown ul > li:last-child, #rt-menu .idown ul > li:last-child a {-webkit-border-bottom-left-radius: 8px 8px;-webkit-border-bottom-right-radius: 8px 8px;}
.idown, .idown ul > li:last-child {box-sizing: border-box; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px;}
#idrops li:hover {color: #ddd;}
#idrops li.parent a, #idrops li.parent span.separator {background: url(../images/iphone/forward.png) right center no-repeat;}
#idrops small.menucount {font-size:17px; line-height:13px; font-weight:bold; background:rgba(0,0,0,.15); color:#fff; -webkit-border-radius:11px; padding:4px 10px 5px 10px; display:block; margin-top:12px; margin-right: 25px; -webkit-box-shadow:rgba(255,255,255,.1) 0 1px 0; float:right;}
#idrops small.menucount.small {margin-top:9px;}
#idrops li.root-sub.active {font-weight:bold;background: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 77, 78, 0.95)), to(rgba(64, 65, 66, 1))) !important;text-overflow: ellipsis;text-shadow: #000 0px 1px 1px;border-top:1px solid rgba(51, 51, 51, 1);border-bottom:1px solid rgba(68, 68, 68, 1);}
#idrops li.root-sub a, #idrops li.root-sub span.separator, #idrops li.root-sub.active a, #idrops li.root-sub.active span.separator {color: #edb847;text-shadow: 1px 1px 1px #333;}

#idrops .backmenu, #idrops .closemenu {display: block;background-image: url(../images/iphone/buttons.png); background-repeat: no-repeat; width:64px; height:32px;}
#idrops .backmenu span, #idrops .closemenu span {display: none;}
#idrops .backmenu {float: left; background-position: 10px 9px;}
#idrops .closemenu {float: right;background-position: 5px -34px;}

#idrops {-webkit-perspective: 800;-webkit-transform-style: preserve-3d;}
#idrops > * {-webkit-transform: translate3d(0,0,0) rotate(0) scale(1);-webkit-backface-visibility: hidden;
-webkit-box-sizing: border-box;}
.in, .out {-webkit-animation-timing-function: ease-in-out;-webkit-animation-duration: 350ms;}

/* slide */
.slide.in {-webkit-animation-name: slideinfromright;}
.slide.out {-webkit-animation-name: slideouttoleft;}
.slide.in.reverse {-webkit-animation-name: slideinfromleft;}
.slide.out.reverse {-webkit-animation-name: slideouttoright;}

@-webkit-keyframes slideinfromright {from { -webkit-transform: translateX(100%); } to { -webkit-transform: translateX(0); }}
@-webkit-keyframes slideinfromleft {from { -webkit-transform: translateX(-100%); } to { -webkit-transform: translateX(0); }}
@-webkit-keyframes slideouttoleft {from { -webkit-transform: translateX(0); } to { -webkit-transform: translateX(-100%); }}
@-webkit-keyframes slideouttoright {from { -webkit-transform: translateX(0); } to { -webkit-transform: translateX(100%); }}

/* fade */
@-webkit-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
@-webkit-keyframes fadeout {from { opacity: 1; } to { opacity: 0; }}
.fade.in {z-index: 10;-webkit-animation-name: fadein;}
.fade.out {z-index: 0;}

/* dissolve */
.dissolve.in {-webkit-animation-name: fadein;}
.dissolve.out {-webkit-animation-name: fadeout;}

/* flip */
.flip {-webkit-animation-duration: .65s;}
.flip.in {-webkit-animation-name: flipinfromleft;}
.flip.out {-webkit-animation-name: flipouttoleft;}
.flip.in.reverse {-webkit-animation-name: flipinfromright;}
.flip.out.reverse {-webkit-animation-name: flipouttoright;}
@-webkit-keyframes flipinfromright {from { -webkit-transform: rotateY(-180deg) scale(.8); } to { -webkit-transform: rotateY(0) scale(1); }}
@-webkit-keyframes flipinfromleft {from { -webkit-transform: rotateY(180deg) scale(.8); } to { -webkit-transform: rotateY(0) scale(1); }}
@-webkit-keyframes flipouttoleft {from { -webkit-transform: rotateY(0) scale(1); } to { -webkit-transform: rotateY(-180deg) scale(.8); }}
@-webkit-keyframes flipouttoright {from { -webkit-transform: rotateY(0) scale(1); } to { -webkit-transform: rotateY(180deg) scale(.8); }}

/* vertical flip */
.vflip {-webkit-animation-duration: .65s;}
.vflip.in {-webkit-animation-name: vflipinfromtop;}
.vflip.out {-webkit-animation-name: vflipouttotop;}
.vflip.in.reverse {-webkit-animation-name: vflipinfrombottom;}
.vflip.out.reverse {-webkit-animation-name: vflipouttobottom;}
@-webkit-keyframes vflipinfrombottom {from { -webkit-transform: rotateX(180deg) scale(.8); } to { -webkit-transform: rotateX(0) scale(1); }}
@-webkit-keyframes vflipinfromtop {from { -webkit-transform: rotateX(180deg) scale(.8); } to { -webkit-transform: rotateX(0) scale(1); }}
@-webkit-keyframes vflipouttotop {from { -webkit-transform: rotateX(0) scale(1); } to { -webkit-transform: rotateX(-180deg) scale(.8); }}
@-webkit-keyframes vflipouttobottom {from { -webkit-transform: rotateX(0) scale(1); } to { -webkit-transform: rotateX(180deg) scale(.8); }}

/* slide up */
.slideup.in {-webkit-animation-name: slideup;z-index: 10;}
.slideup.out {-webkit-animation-name: dontmove;z-index: 0;}
.slideup.out.reverse {z-index: 10;-webkit-animation-name: slideupdown;}
.slideup.in.reverse {z-index: 0;-webkit-animation-name: dontmove;}
@-webkit-keyframes slideup {from { -webkit-transform: translateY(100%); } to { -webkit-transform: translateY(0); }}
@-webkit-keyframes slideupdown {from { -webkit-transform: translateY(0); } to { -webkit-transform: translateY(100%); }}

/* slide down */
.slidedown.in {-webkit-animation-name: slidingdown;z-index: 10;}
.slidedown.out {-webkit-animation-name: fadeout;z-index: 0;}
.slidedown.out.reverse {z-index: 10;-webkit-animation-name: slidingup;}
.slidedown.in.reverse {z-index: 0;-webkit-animation-name: fadeout;}
@-webkit-keyframes slidingdown {from { -webkit-transform: translateY(-100%); } to { -webkit-transform: translateY(0); }}
@-webkit-keyframes slidingup {from { -webkit-transform: translateY(0); } to { -webkit-transform: translateY(-100%); }}

@-webkit-keyframes dontmove { from { opacity: 1; } to { opacity: 1; }}

/* swap */
.swap {-webkit-transform: perspective(800);-webkit-animation-duration: .7s;}
.swap.out {-webkit-animation-name: swapouttoleft;}
.swap.in {-webkit-animation-name: swapinfromright;}
.swap.out.reverse {-webkit-animation-name: swapouttoright;}
.swap.in.reverse {-webkit-animation-name: swapinfromleft;}
@-webkit-keyframes swapouttoright {
    0% {-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);-webkit-animation-timing-function: ease-in-out;}
    50% {-webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);-webkit-animation-timing-function: ease-in;}
    100% {-webkit-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);}
}

@-webkit-keyframes swapouttoleft {
    0% {-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);-webkit-animation-timing-function: ease-in-out;}
    50% {-webkit-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);-webkit-animation-timing-function: ease-in;}
    100% {-webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);}
}
@-webkit-keyframes swapinfromright {
    0% {-webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);-webkit-animation-timing-function: ease-out;}
    50% {-webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);-webkit-animation-timing-function: ease-in-out;}
    100% {-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);}
}
@-webkit-keyframes swapinfromleft {
    0% {-webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);-webkit-animation-timing-function: ease-out;}
    50% {-webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);-webkit-animation-timing-function: ease-in-out;}
    100% {-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);}
}

/* cube */
.cube {-webkit-animation-duration: .55s;}
body.rt-normal .cube.in, body.rt-flipped .cube.in {-webkit-animation-name: cubeinfromright;-webkit-transform-origin: 0% 50%;}
body.rt-normal .cube.out, body.rt-flipped .cube.out {-webkit-animation-name: cubeouttoleft;-webkit-transform-origin: 100% 50%;}
body.rt-normal .cube.in.reverse, body.rt-flipped .cube.in.reverse {-webkit-animation-name: cubeinfromleft;-webkit-transform-origin: 100% 50%;}
body.rt-normal .cube.out.reverse, body.rt-flipped .cube.out.reverse {-webkit-animation-name: cubeouttoright;-webkit-transform-origin: 0% 50%;}
body.rt-left .cube.in, body.rt-right .cube.in {-webkit-animation-name: cubeinfromrightlandscape;-webkit-transform-origin: 0% 50%;}
body.rt-left .cube.out, body.rt-right .cube.out {-webkit-animation-name: cubeouttoleftlandscape;-webkit-transform-origin: 100% 50%;}
body.rt-left .cube.in.reverse, body.rt-right .cube.in.reverse {-webkit-animation-name: cubeinfromleftlandscape;-webkit-transform-origin: 100% 50%;}
body.rt-left .cube.out.reverse, body.rt-right .cube.out.reverse {-webkit-animation-name: cubeouttorightlandscape;-webkit-transform-origin: 0% 50%;}
@-webkit-keyframes cubeinfromleft {
	from {-webkit-transform: rotateY(-90deg) translateZ(320px); opacity: .5;}
    to {-webkit-transform: rotateY(0deg) translateZ(0);opacity: 1;}
}
@-webkit-keyframes cubeouttoright {
    from {-webkit-transform: rotateY(0deg) translateX(0);opacity: 1;}
    to {-webkit-transform: rotateY(90deg) translateZ(320px);opacity: .5;}
}
@-webkit-keyframes cubeinfromright {
    from {-webkit-transform: rotateY(90deg) translateZ(320px);opacity: .5;}
    to {-webkit-transform: rotateY(0deg) translateZ(0);opacity: 1;}
}
@-webkit-keyframes cubeouttoleft {
    from {-webkit-transform: rotateY(0deg) translateZ(0);opacity: 1;}
    to {-webkit-transform: rotateY(-90deg) translateZ(320px);opacity: .5;}
}
@-webkit-keyframes cubeinfromleftlandscape {
	from {-webkit-transform: rotateY(-90deg) translateZ(480px);opacity: .5;}
    to {-webkit-transform: rotateY(0deg) translateZ(0);opacity: 1;}
}
@-webkit-keyframes cubeouttorightlandscape {
    from {-webkit-transform: rotateY(0deg) translateX(0);opacity: 1;}
    to {-webkit-transform: rotateY(90deg) translateZ(480px);opacity: .5;}
}
@-webkit-keyframes cubeinfromrightlandscape {
    from {-webkit-transform: rotateY(90deg) translateZ(480px);opacity: .5;}
    to {-webkit-transform: rotateY(0deg) translateZ(0);opacity: 1;}
}
@-webkit-keyframes cubeouttoleftlandscape {
    from {-webkit-transform: rotateY(0deg) translateZ(0);opacity: 1;}
    to {-webkit-transform: rotateY(-90deg) translateZ(480px);opacity: .5;}
}

/* pop */
.pop {-webkit-transform-origin: 50% 50%;}
.pop.in {-webkit-animation-name: popin;z-index: 10;}
.pop.out.reverse {-webkit-animation-name: popout;z-index: 10;}
.pop.in.reverse {z-index: 0;-webkit-animation-name: dontmove;}
@-webkit-keyframes popin {
    from {-webkit-transform: scale(.2);opacity: 0;}
    to {-webkit-transform: scale(1);opacity: 1;}
}
@-webkit-keyframes popout {
    from {-webkit-transform: scale(1);opacity: 1;}
    to {-webkit-transform: scale(.2);opacity: 0;}
}
/* temp */
.rt-container {background: #fff;}