.highslide-container table {
	border: medium none !important;
}
.highslide-container a:hover,
.highslide-container a:active,
.highslide-container a:focus {
	background-color: transparent;
}
.control {
	float: right;
    display: block;
	margin: 0 5px;
	font-size: 9pt;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
/* Controlbar examples */
.controlbar {
	background: url(/plugins/content/highslide/graphics/controlbar4.gif);
	width: 167px;
	height: 34px;
}
.controlbar a {
	display: block;
	float: left;
	/*margin: 0px 0 0 4px;*/
	height: 27px;
}
.controlbar a:hover {
	background-image: url(/plugins/content/highslide/graphics/controlbar4-hover.gif);
}
.controlbar .previous {
	width: 50px;
}
.controlbar .next {
	width: 40px;
	background-position: -50px 0;
}
.controlbar .highslide-move {
	width: 40px;
	background-position: -90px 0;
}
.controlbar .close {
	width: 36px;
	background-position: -130px 0;
}
/* Controlbar example */
.controlbar2 {
	margin-left: 60px;
	background: url(/plugins/content/highslide/graphics/controlbar2.gif);
	width: 210px;
	height: 32px;
}
.controlbar2 a {
	display: block;
	float: left;
	margin: 0 0 0 5px;
	height: 30px;
	width: 42px;
}

.html-header {
	background-image: url(/plugins/content/highslide/graphics/header-background.gif);
	cursor: default;
	height: 18px;
	padding: 2px;
}