/* CSS Document */
li#slideshowscreenshot,
li#overlayexample {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-align: justify;
}

li#slideshowscreenshot p, li#slideshowscreenshot li,
li#overlayexample p, li#overlayexample li {
	width: 90%;
}

li#slideshowscreenshot ul li ul li,
li#overlayexample ul li ul li {
	list-style-type: disc;
	list-style-position: inside;
}

li#slideshowscreenshot h4,
li#overlayexample h4 {
	color: #0B55C4;
	font-size: 12px;
	font-weight: bold;
}

img#slideshowscreenshot_image,
img#overlayexample_image {
	border: 1px solid gray;
	padding: 4px;
	display: block;
}
fieldset.adminform textarea.fullwidth {
	width: 100%;
}