/**
 * @name        Simple Photo Gallery
 * @version	1.0: facebox.css
 * @since       Joomla 1.5
 * @subpackage	com_simplephotogallery
 * @author      Apptha
 * @copyright   Copyright (C) 2011 Powered by Apptha
 * @license     GNU/GPL http://www.gnu.org/copyleft/gpl.html
 * @abstract    Css file for front end styling
 */
 
#pica-widget-alb-photos
{
margin:2%;
-webkit-box-shadow: #888 2px 2px 8px;
float: left;
cursor : pointer; 
		} 
		
#picaAppthaLabelOnPhoto
{
z-index: 99999;
top: 2px;
text-align: center !important;
position:absolute;
left: 3px;

} 
#pica-single-img-view
{
border:none;
position:relative;
margin-bottom:1%;
height: 400px;

}
.get-pica-border{
	border-bottom: 1px solid #CCC;
 margin-top: 2%;	
margin-bottom: 10px;
width:102%;
} 


.picafullscreecss {
border: 1px solid white;
float: left;
padding: 2px 5px;
}
.picafullscreecss a {
font-size: 0.8em;
text-decoration: none;
}
.picafullscreecss img {
padding-right: 5px;
}
.picafullscreecss:hover {
border: 1px solid #CCC;
border-bottom-left-radius: 2px 2px;
border-bottom-right-radius: 2px 2px;
border-top-left-radius: 2px 2px;
border-top-right-radius: 2px 2px;
padding: 2px 5px;

}
.separator {
background:url(./divider.png) no-repeat; float:left;
float: left;
font-size: 120%;
line-height: normal;
list-style: ;
margin: 5px 2px;
outline: none;
overflow: hidden;
padding: 0px 0px 0px 5px;
padding-left: 5px;
text-decoration: none;
vertical-align: middle;
width: 0px;
}
.picaphotoArrow {
border: none;
padding: 0px;margin:0px;
vertical-align: middle;
}


.photoDescription{
clear:both;	
padding-bottom:1%;
text-align: justify;
/* text-indent: 5%; margin-left: 46px;*/
word-wrap: break-word;
font-weight: bold;


}







.featuredPhotosStyle{
	clear:both;
font-size: 1.2em;
font-weight: bold;
margin: 0px 0.3em 0.3em 0px;
white-space: nowrap;
}

#apptha-site-generator
{
	margin-top:2%;
text-align: center;
}
#apptha-site-generator a {
color: #666;
display: inline-block;
line-height: 16px;
padding: 1px;
text-decoration: none;
font-size: 14px;
}


.picashowSinglePhotoview{
margin-top: 1% ;
}

.pica-show-alb-image img
{
-moz-box-shadow: 2px 2px 8px #888;
-webkit-box-shadow: 2px 2px 8px #888;
box-shadow: 2px 2x 8px #888;

}

.pica-show-alb-image a {
color: black;
font-family: arial, sans-serif;
font-size: 84%;
text-align: left;
text-decoration: none;
color: #666 !important;

}


.picaPhotoTitle {
	
color: #888;
font-family: arial, sans-serif;
font-size: 8pt;
height: 1.25em;
overflow: hidden;
text-align: center;
/* padding: 6px 2px 5px;
position:absolute;*/
}
									.picaPhotoTitleHover
									{
										border: 1px solid #ccc;
										background: #dfdfdf;
										font-size: 10pt;
										z-index:5;
										overflow: visible;										
										margin:0px;
										padding:1%;
										text-align: center;
										word-wrap: break-word;
										color:black;
										float: left;
										height:auto;
										position:absolute;										
									}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}									
.showAlbPhotos{
	position: relative;
float: left;
-moz-box-shadow: 2px 2px 8px #888;
-webkit-box-shadow: 2px 2px 8px #888;
box-shadow: 2px 2x 8px #888;
   /*filter:progid:DXImageTransform.Microsoft.Shadow(color='#0dfdfdf',direction='150',strength='10' , positive=true ;*/
}

.showAlbPhotos a {
	
	text-decoration: none;
	cursor: pointer;
	
	 }


.pica_show_featured_photos img:hover .picaPhotoTitle{

	color:red;
	
}
.pica_show_featured_photos .pica-show-albumname { 
		
		padding: 1px 1px 1px 2px;
		text-align: left;
		position: absolute;
		display: none;
		background: black;
		bottom: 0px;
		color: white;
		text-decoration: underline;
		width:99%;
		text-align: justify;
		font-family: arial, sans-serif;
		font-size: 14px;
}
.pica-show-albumname a{color:#fff;}

.pica-show-image{
	 float: left; 
	 position: relative;
	 -moz-box-shadow: 2px 2px 8px #888;
	 -webkit-box-shadow: 2px 2px 8px #888;
	 box-shadow: 2px 2x 8px #888;
	
	 }
.pica-show-image:hover{

	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.pica_show_featured:hover div.pica-show-albumname{display:block}



/*  for album images */

.pica_show_albums .pica-show-albumname { 
		
		padding: 0px 0px 2px 2px;
		text-align: left;
		position: absolute;
		display: none;
		background: black;
bottom: 0px;
color: white;
margin: 0px 0px 8px;
text-decoration: underline;
		
}
.pica_show_albums:hover div.pica-show-albumname{display:block}

.albphoto-context-current{
color: black;
font-size: 1.3em;
font-weight: bold;
text-decoration: none;
}
.picashowSinglePhotoview{position:relative;}
.pica-nav-left{ position: absolute;
				vertical-align: middle;
				width: 45px;
				top:38%;
				left:-15px;
				cursor: pointer;
				}
.pica-nav-right{position: absolute;
				vertical-align: middle;
				
				top:38%;
				right:-44px;
				cursor: pointer;
				}
.pica-single-img-preview{text-align: center;
						 margin: 0 6%;

}
.pica-showsinglebread {
	
    margin-top:2%;
    display:block;
}
.pica-showsinglebread a{
	
	text-decoration: none;
}
.pica-showbreadalbname{
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.fb_iframe_widget{margin: 3% 1% 1%; width: 98%;}
.fb_iframe_widget iframe{width: 100% !important;}

#facebox .b {
  background:none;
}

#facebox .tl {
  background:none;
}

#facebox .tr {
  background:none;
}

#facebox .bl {
  background:none;
}

#facebox .br {
  background:none;
}

#facebox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  opacity:100;
  filter:inherit !important;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  margin: auto;
  border-collapse: collapse;
}

#facebox .body {
  padding: 10px;
  background: transparent;
  /*width: 370px;*/
  height:520px;
  vertical-align: middle;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}
.loading
{
  /*  background: url('../uploads/loadinfo.gif') no-repeat transparent; */
     width:48px;
    height:48px;
}
a.close{
   /* background: url('../uploads/close.png') no-repeat transparent; */
    width:20px;
    height:20px;
    display:block;
    position:absolute;
    top:5px;
    right:5px;
    z-index:100000000000000000;
   *position:static;    
    
}

@media \0screen {
  .mac-gallery-image{background:#000;width: 800px;margin: 0 auto;text-align: center;display:block;max-height:500px;visibility: visible;vertical-align: middle;overflow: hidden;}
  .mac-gallery-image img{display:block;visibility: visible;margin: 0px auto !important;height:100%;}
  .macpopup_bottom{background:#fff;width: 800px;}
  .mac-gallery-image{height:auto !important;}
    
}

