/**
 * @name        Simple Photo Gallery
 * @version	1.0: skin.css
 * @since       Joomla 1.5
 * @subpackage	com_simplephotogallery
 * @author      Apptha
 * @copyright   Copyright (C) 2011 Powered by Apptha
 * @license     GNU/GPL http://www.gnu.org/copyleft/gpl.html
 * @abstract    Css file for front-end styling.
 */
 
.jcarousel-skin-tango1 .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
   
}

.jcarousel-skin-tango1 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango1 .jcarousel-container-horizontal {
    width: 98%;
    padding: 20px 40px;
}

.jcarousel-skin-tango1 .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango1 .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango1 .jcarousel-clip-horizontal {
    /* width:  0px;
    height: 0px; */
}

.jcarousel-skin-tango1 .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango1 .jcarousel-item {
    /* width: 0px;
    height: 0px; */
}

.jcarousel-skin-tango1 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango1 .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango1 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango1 .jcarousel-next-horizontal {
    position: absolute;
    
    right: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(nextPhoto-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prevPhoto-horizontal.png);
}

.jcarousel-skin-tango1 .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-next-horizontal:focus {
    /* background-position: -32px 0; */
}

.jcarousel-skin-tango1 .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    /* background-position: -96px 0; */
}

.jcarousel-skin-tango1 .jcarousel-prev-horizontal {
    position: absolute;
    
    left: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prevPhoto-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(nextPhoto-horizontal.png);
}

.jcarousel-skin-tango1 .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango1 .jcarousel-prev-horizontal:focus {
    /* background-position: -32px 0; */
}

.jcarousel-skin-tango1 .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango1 .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-next-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango1 .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango1 .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango1 .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
